'.text.html':
  'editor':
    'increaseIndentPattern': '(?x)\n        ^\\s*\n        <(?!\\?|area|base|br|col|frame|hr|html|img|input|link|meta|param|[^>]*/>)\n          ([A-Za-z0-9]+)(?=\\s|>)\\b[^>]*>(?!.*</\\1>)\n        |<!--(?!.*-->)\n        |<\\?php.+?\\b(if|else(?:if)?|for(?:each)?|while)\\b.*:(?!.*end\\1)\n        |\\{[^}"\']*$\n        '
    'decreaseIndentPattern': '(?x)\n        ^\\s*\n        (</(?!html)\n          [A-Za-z0-9]+\\b[^>]*>\n        |-->\n        |<\\?(php)?\\s+(else(if)?|end(if|for(each)?|while))\n        |\\}\n        )'
